{% extends 'auth_reg/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'auth_reg/css/style.css' %}">
    <script src = "https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="{% static 'auth_reg/js/auth.js' %}" defer></script>
{% endblock %}
{% block content %}
<div class = "login">
    <h2 class="active"> sign in </h2>
    <form action="" method = "POST" id = "form_id">
        {% csrf_token %}
        <input type="text" name = "name" id = "name" class = "text" placeholder="NAME YEP">
        <input type="password"name = "password" id = "password" class = "text" placeholder="PASSWORD YEP">
        <button class = "auth" type = "button">AUTHORIZATION YEP</button>
        <hr id = "hr1">
        <a id = "a1" href="{% url 'registration' %}">Don't have an account yet? Sing up</a>
    </form>
</div>
{% endblock %}