<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/reg.js' %}" defer></script>
    <script src = "https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
</head>
<body>
    <form action="" method = "POST">
        {% csrf_token %}
        <input type="text" name = "name_reg"  id="nameReg" placeholder="NAME YEP">
        <input type="text"name = "password_reg" id="passwordReg" placeholder="PASSWORD YEP">
        <input type="text"name = "rep_password" id="repPassword" placeholder="REPEAT PASSWORD YEP">
        <button class="reg">REGISTRATION YEP</button>
    </form>
</body>
</html>