*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('https://img.freepik.com/free-vector/gradient-geometric-shapes-on-dark-background_23-2148434188.jpg?size=626&ext=jpg&ga=GA1.1.932491622.1707299235&semt=ais');
    height: 150%;
    background-image: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}
form{
    background-color: rgb(110, 110, 110);
    width: 650px;
    height: 850px;
    margin-top: 0px;
    border: 3px solid black;
    border-radius: 25px;
    padding-left: 20px;
    background: url(https://picsum.photos/id/1004/5616/3744) no-repeat   center center #505050;   
    background-size: cover;
}

#a2 {
    text-align: center;
    display: block;
    top: 20px;
    position: relative;
    color: rgb(15, 165, 179);
}

button {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

button:hover {  
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}


.label-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.check {
    display: flex;
    align-items: center;
    margin-right: 60px;
    margin-left: -15px;
}

.check1{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

label {
    display: block;
    text-align: left; 
    margin-top: 0px;
    font-size: 22px;
    font-weight: 100;
    color: white;
}

.inputs {
    width: 300px;
    margin-left: 300px;
    border: none;
    width: 45%;
    padding: 5px 10px;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-in-out;
    position: relative;
    bottom: 20px; 
}